<?xml version='1.0' encoding='utf-8'?>
<widget id="io.mikeking.peak" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Peak</name>
	<description>
		A simple mobile app for viewing Cryptocurrency Markets
	</description>
	<author email="mike@85pixels.com" href="http://85pixels.com">
		Mike King
	</author>
	<preference name="target-device" value="handset" />
	<preference name="DisallowOverscroll" value="true" />
	<content src="index.html" />
	<access origin="*" />
</widget>
