# Ignore patterns for Worth mobile app

# OSX files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

#Yeoman
node_modules
dist
.tmp
.sass-cache
app/bower_components

# Ignore everything in the "phonegap" directory, except the "platforms"
# "www", "config.xml", "hooks",and "plugins" directories.
phonegap/*
!phonegap/plugins/
!phonegap/platforms/
phonegap/platforms/*
!phonegap/www/
phonegap/www/*
!phonegap/hooks
!phonegap/config.xml
