/* ==========================================================================
   Typography
   ========================================================================== */
   
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: #333333;
}

.tab-bar h1 {
    color: #333333;
    font-weight: 300;
}

.green {
    color: $green;
}