/* ==========================================================================
   Pricing Table
   ========================================================================== */

.pricing-table {
    opacity:1;
    transition: all 0.5s ease;
    border: none;
    margin-bottom: 0;
        
    .price {
        padding: emCalc(35px) emCalc(20px);
        font-family: 'Titillium Web', sans-serif;
        
        &.positive {
            background-color: $green;
        }
        
        &.negative {
            background-color: $red;
        }
    }

    .title {
        background-color: #F6F6F6;
        color: #333333;
        font-size: 0.875rem;
        font-weight: 400;
        padding: 0.9375rem 0;

        .text {

            &:after {
                content: '';
                display: inline-block;
                width: 0; 
                height: 0; 
                margin-left: 5px;
                position: relative;
                top: -2px;
            }

            &.up {

                &:after {
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid #333333;
                }
            }

            &.down {

                &:after {
                    border-top: 5px solid #333333;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
            }
        }
        
        &.header {
            background-color: #333333;
            color: #eeeeee;
        }
    }

    .bullet-item {
        padding: 0;

        .accordion {

            dd > a {
                background: transparent;
                color: inherit;
                padding: 0.9375rem 0;
                font-family: inherit;
                font-size: 0.875rem;
            }

            .content {
                font-weight: 300;
                background-color: #F6F6F6;
                padding: 0.9375rem;
                border-top: dotted 1px #dddddd;

                .market-stats {

                    .stat {
                        padding-bottom: emCalc(10px);

                        .text-left {
                            font-weight: 400;
                        }

                        &.bid {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        .up {
            color: $green;
        }

        .down {
            color: #db4c3c;
        }
        
        &.add-holdings {
            padding-top: 0.9375rem;
        }
        
        &.currency {
            padding: 0.9375rem 0;
        }
    }
    
    &.heading {                                                                                                               
        margin-bottom: 0;                                                                                                     
    }  

    &.data {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        margin-bottom: 0;

        li:last-child {
            margin-bottom: 1.25rem;
        }
    }

    &.ng-hide-add,
    &.ng-hide-remove {
        display: block !important;
    }

    &.ng-hide {
        opacity:0;
    }
}