/* ==========================================================================
   Pricing Table
   ========================================================================== */

.pricing-table {
    opacity:1;
    transition: all 0.5s ease;
    
    .title {
        background-color: #F6F6F6;
        color: #333333;
        font-size: 0.875rem;
        font-weight: 400;
        padding: 0.9375rem;
    }
    
    .bullet-item {
        padding: 0;
        
        .accordion {
            
            dd > a {
                background: transparent;
                color: inherit;
                padding: 0.9375rem;
                font-family: inherit;
                font-size: 0.875rem;
            }
            
            .content {
                font-weight: 300;
                background-color: #F6F6F6;
                padding: 0.9375rem;
                border-top: dotted 1px #dddddd;

                .market-stats {

                    .stat {
                        padding-bottom: emCalc(10px);
                        
                        .text-left {
                            font-weight: 400;
                        }
                        
                        &.bid {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        .up {
            color: $green;
        }

        .down {
            color: #db4c3c;
        }
    }
    
    &.ng-hide-add,
    &.ng-hide-remove {
        display: block !important;
    }
    
    &.ng-hide {
        opacity:0;
    }

}