<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Titillium+Web:300' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="peakApp">
    
    <div class="off-canvas-wrap" ng-controller="MainCtrl">
      <div class="inner-wrap">
        <div class="fixed">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <h1 class="title" ng-cloak>{{ menuItem }}</h1>
            </section>

            <section class="right-small" ng-show="menuItem === 'portfolio'">
              <a class="plus-sign" 
                 ng-click="toggleCurrency = !toggleCurrency" ng-cloak>
<!--                 <i class="fi-{{ toggleCurrency ? 'minus' : 'plus' }}"></i> -->
                {{ toggleCurrency ? '-' : '+' }}
              </a>
            </section>
          </nav>
        </div>
        
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label class="branding"><i class="fi-mountains"></i> Peak</label></li>
            <li ng-class="{'selected': menuItem === 'overview'}">
              <a ng-click="menuItem = 'overview'; main.changeView('/overview')">overview</a>
            </li>
            <li ng-class="{'selected': menuItem === 'portfolio'}">
              <a ng-click="menuItem = 'portfolio'; main.changeView('/portfolio')">portfolio</a>
            </li>
<!--             <li ng-class="{'selected': menuItem === 'watchlist'}">
              <a ng-click="menuItem = 'watchlist'; main.changeView('/watchlist')">watchlist</a>
            </li> -->
            <li><label>Markets</label></li>
            <li ng-class="{'selected': menuItem === 'bittrex'}">
                <a ng-click="menuItem = 'bittrex'; main.changeView('/bittrex')">bittrex</a>
            </li>
<!--             <li ng-class="{'selected': menuItem === 'cryptsy'}">
              <a ng-click="menuItem = 'cryptsy'; main.changeView('/cryptsy')">cryptsy</a>
            </li> -->
            <li ng-class="{'selected': menuItem === 'mintpal'}">
              <a ng-click="menuItem = 'mintpal'; main.changeView('/mintpal')">mintpal</a>
            </li>
            <li ng-class="{'selected': menuItem === 'poloniex'}">
                <a ng-click="menuItem = 'poloniex'; main.changeView('/poloniex')">poloniex</a>
            </li>
          </ul>
        </aside>

        <section class="main-section" ng-view=""></section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- endbower -->
    <script src="scripts/vendor/kendo.dataviz.js"></script>
    <script src="bower_components/angular-kendo/angular-kendo.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls-0.2.0-SNAPSHOT.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/overview.js"></script>
    <script src="scripts/controllers/portfolio.js"></script>
    <script src="scripts/controllers/watchlist.js"></script>
    <script src="scripts/controllers/mintpal.js"></script>
    <script src="scripts/controllers/cryptsy.js"></script>
    <script src="scripts/controllers/poloniex.js"></script>
    <script src="scripts/controllers/bittrex.js"></script>
    <!-- Directives -->
    <script src="scripts/directives/scrollview.js"></script>
    <!-- Services -->
    <script src="scripts/services/csvparser.js"></script>
    <!-- endbuild -->
</body>
</html>
