<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Titillium+Web:300' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="peakApp">
    
    <div class="off-canvas-wrap" ng-controller="MainCtrl">
      <div class="inner-wrap">
        <div class="fixed">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <h1 class="title"><span class="green"><i class="fi-mountains"></i></span> Peak</h1>
            </section>
          </nav>
        </div>
        
        <aside class="left-off-canvas-menu" ng-controller="NavigationCtrl">
          <ul class="off-canvas-list">
            <li><label>Markets</label></li>
            <li ng-class="{'selected': menuItem === 'mintpal'}" 
                ng-click="menuItem = 'mintpal'">
              <a href="/">MintPal</a>
            </li>
            <li ng-class="{'selected': menuItem === 'cryptsy'}" 
                ng-click="menuItem = 'cryptsy'">
              <a href="#/cryptsy">Cryptsy</a>
            </li>
            <li ng-class="{'selected': menuItem === 'bittrex'}" 
                ng-click="menuItem = 'bittrex'">
                <a href="#/bittrex">Bittrex</a>
            </li>
            <li ng-class="{'selected': menuItem === 'poloniex'}" 
                ng-click="menuItem = 'poloniex'">
                <a href="#/poloniex">Poloniex</a>
            </li>
          </ul>
        </aside>

        <section class="main-section" ng-view=""></section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-foundation/mm-foundation-tpls-0.2.0-SNAPSHOT.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/mintpal.js"></script>
    <script src="scripts/controllers/cryptsy.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/directives/scrollview.js"></script>
    <script src="scripts/controllers/poloniex.js"></script>
    <script src="scripts/controllers/bittrex.js"></script>
    <!-- endbuild -->
</body>
</html>
