<!-- Main View -->
<div class="container main" ng-cloak>
  <div class="row">
    <div class="small-12 columns">
      <ul class="pricing-table" ng-show="data">
        <li class="title">
          <div class="row">
            <div class="small-4 columns text-left">Coin</div>
            <div class="small-4 columns text-left">Price</div>
            <div class="small-4 columns text-right">Change</div>
          </div>
        </li>
        <li ng-repeat="item in data" class="bullet-item">
          <accordion close-others="true">
            <accordion-group>
              <accordion-heading>
              <div class="row">
                <div class="small-4 columns text-left">
                  {{ item.code }}
                </div>
                <div class="small-4 columns text-left">
                  {{ item.last_price }}
                </div>
                <div class="small-4 columns text-right" 
                     ng-class="{true:'up',false:'down'}[item.change >= 0]">
                  {{ item.change  }}%
                </div>
              </div>
              </accordion-heading>
              <div class="market-stats">
                <div class="row stat ask">
                  <div class="small-4 columns text-left">Top Ask: </div>
                  <div class="small-8 columns text-right">{{ item.top_ask }} BTC</div>
                </div>
                <div class="row stat bid">
                  <div class="small-4 columns text-left">Top Bid: </div>
                  <div class="small-8 columns text-right">{{ item.top_bid }} BTC</div>
                </div>
                <hr />
                <div class="row stat">
                  <div class="small-4 columns text-left">24 High: </div>
                  <div class="small-8 columns text-right">{{ item.24hhigh }}</div>
                </div>
                <div class="row stat">
                  <div class="small-4 columns text-left">24 Low: </div>
                  <div class="small-8 columns text-right">{{ item.24hlow }}</div>
                </div>
                <div class="row stat">
                  <div class="small-4 columns text-left">24 Vol: </div>
                  <div class="small-8 columns text-right">{{ item.24hvol }} BTC</div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </li>
        <!--<li ng-repeat="item in data" class="bullet-item">
          <div class="row">
            <div class="small-4 columns text-left">
              {{ item.code }}
            </div>
            <div class="small-4 columns text-left">
              {{ item.last_price }}
            </div>
            <div class="small-4 columns text-right" 
                 ng-class="{true:'up',false:'down'}[item.change >= 0]">
              {{ item.change  }}%
            </div>
          </div>
        </li>-->
      </ul>
    </div>
  </div>
</div>
