<!-- Overview View -->
<div class="container overview" ng-cloak>
    <div class="row pricing">
        <div class="small-12 columns">
            <h6 class="subheader text-center">Bitcoin</h6>
            <h1 class="text-center price" ng-show="bitcoinPrice" ng-cloak>{{ bitcoinPrice }}</h1>
        </div>
        <div class="small-12 columns">
            <h6 class="text-center" ng-show="bitcoinPrice" ng-cloak
                ng-class="{ true:'positive', false:'negative'}[bitcoinPrice - bitcoinChart[bitcoinChart.length - 2].value > 0]">{{ bitcoinPrice - bitcoinChart[bitcoinChart.length - 2].value | number:2 }} ( {{ ((bitcoinPrice - bitcoinChart[bitcoinChart.length - 2].value) / bitcoinChart[bitcoinChart.length - 2].value) * 100 | number:2 }}% )</h6>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h6>24hr Price Graph</h6>
            <hr/>
            <div kendo-chart k-options="chart" class='chart'></div>
        </div>
    </div>
</div>
