<!-- Portfolio View -->
<div class="container portfolio" ng-cloak>
    <ul class="pricing-table">
        <li class="price">
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ portfolio.totalValue('gain') }} BTC</h1>
            </div>
            <div class="small-12 columns">
                <h6 class="text-center" ng-cloak
                    ng-show="portfolio.totalValue('gain')"
                    ng-class="{ true:'positive', false:'negative'}[portfolio.totalValue('gain') - portfolio.totalValue('cost') > 0]">
                    ( {{ ((portfolio.totalValue('gain') - portfolio.totalValue('cost')) / portfolio.totalValue('cost')) * 100 | number:2 }}% )
                </h6>
            </div>
        </div>
        </li>
        <li class="title header">
            <div class="row"> 
                <div class="small-4 columns text-left">
                    Coin
                </div>
                <div class="small-4 columns text-left">
                    Amount
                </div>
                <div class="small-4 columns text-right">
                    Change %
                </div>
            </div>
        </li>
        <li class="bullet-item add-holdings" ng-show="toggleCurrency">
            <form ng-submit="portfolio.addHolding()">
                <div class="row"> 
                    <div class="small-12 columns">
                        <label>
                            <select ng-model="coin" ng-options="coin.code for coin in data | orderBy:'code'"></select>
                        </label>
                    </div>
                    <div class="small-6 columns text-left">
                        <label>
                            <input type="number" placeholder="Amount" ng-model="amount" step="0.00000001" />
                        </label>
                    </div>
                    <div class="small-6 columns text-left">
                        <label>
                            <input type="number" placeholder="Price in BTC" ng-model="cost" step="0.00000001" />
                        </label>
                    </div> 
                    <div class="small-12 columns">
                        <input type="submit" class="button small expand success" value="Add Coin" />
                    </div>
                </div>
            </form>
        </li>
    </ul>
    <ul class="pricing-table data" ng-show="data" scroll-view>
        <li ng-repeat="currency in portfolio.holdings" class="bullet-item currency">
            <div class="row"
                 ng-class="{'delete':currency.delete}"
                 ng-swipe-left="currency.delete = true"
                 ng-swipe-right="currency.delete = false">
                <div class="small-4 columns text-left">{{ currency.coin }}</div>
                <div class="small-4 columns text-left">{{ currency.amount }}</div>
                <div class="small-4 columns text-right"
                     ng-class="{ true:'positive', false:'negative'}[(portfolio.currencyValue(currency.coin) - currency.cost) > 0]">
                     {{ ((portfolio.currencyValue(currency.coin) - currency.cost)/currency.cost) * 100 | number:2}}%
                </div>
            </div>
            <button type="button" class="button alert small"
                    ng-click="portfolio.removeHolding($index)">Delete</button>
        </li>
    </ul>
</div>